p{
    background-color: cornflowerblue;
    color: bisque;
    font-family: cursive;
    padding: 10px;

    font-size: large;
    font-weight: bold;
    font-style: italic;

    letter-spacing: 5px;
    word-spacing: 5px;
    line-height: 30px;

    text-decoration: line-through;
    /* text-decoration: overline; */
    /* text-decoration: underline; */
    /* text-decoration: underline dashed black 2px; */

    text-transform: capitalize;
    /* text-transform: lowercase; */
    /* text-transform: uppercase; */

    text-align: center;
    /* text-align: justify; */
    /* text-align: end;
    text-align: left;
    text-align: right;
    text-align: start; */
}

div{
    height: 200px;
    width: 400px;
    margin: auto;
}